*{
    padding: 0;
    margin: 0;
    font-family: monospace;
}
body {
    background-color:#092640;
    background-size: cover; /* La imagen se ajustará al tamaño de la ventana del navegador */
    background-repeat: no-repeat;
    background-attachment: fixed; /* La imagen de fondo permanecerá fija en su lugar */
}
/* menu */
.logo{
    width: 6%;
    margin-top: 40px;
    margin-left: 50px;
    padding: 25px ;
  }
.menu{
    margin-left: 57%;
    margin-top: -9%;
  }
  ul {
  list-style: none;
  background:#196db6;
  margin-top: -4%;
  z-index: 1;
  }
  .name{
    background: #0d385e;
  }
  ul li {
  display: inline-block;
  position: relative;
  }
  
  ul li a {
  display: block;
  padding: 25px 25px 25px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-size: 21px;
  border-radius: 1em;
  }
  ul li ul.micro_menu li {
  display: block;
  }
  ul li ul.micro_menu {
  border-radius: 1em;
  width: 100%;
  background: #0d385e;
  position: absolute;
  display: none;
  }
  ul li a:hover {
  background: #124d80;
  color: white;
  }
  ul li:hover ul.micro_menu {
  display: block;
  }

/* login diseño */
input{
    border: none;
    outline: none;
    width: 90%;
    border-bottom: 3px solid rgb(255, 255, 255);
    margin-bottom: 10px ;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: white;
    line-height: 1.5;
    display: block;
    height: 45px;
    padding: 0 5px;
    background: transparent;
}
.contenedor{
    /* posicion de conteneror */
    width: 98%;
    /* altura */
    min-height: 110vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
/* al lade de los colores le podemos decir  colo (color 50%) esto toma la mitad de la pantalla */
.fondo{
    width: 25%;
    background-color: #0000007c;
    border: 2px solid #14B5D9;
    border-radius: 1em;
    overflow: hidden;
    /* tamaño del cuadro y posicion */
    /* arriba,izquierda,abajo,derecha */
    padding: 30px 50px 20px 60px;
    box-shadow: 9px 20px 37px black;
    margin-top: -16%;
    margin-left: 3%;
}
/* texto */
label{
    color: white;
    font-size: 25px;
    margin: 1px;
    font-family: 'Preahvihear', sans-serif;
}
.titulo{
    color: white;
    text-align: center;
    font-size: 35px;
    margin-bottom: 5%;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* botones */
.btni{
    background:linear-gradient(0deg,#a00000 ,#000000 );
    border-bottom: 3px solid rgb(122, 6, 6);
    border-radius: 10px;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    width: 135px;
    display: inline-block;
    margin-left: 3%;
}
.btni:hover{
    background-color:rgb(122, 6, 6);
    box-shadow: 9px 10px 10px rgb(0, 0, 0);
    Background-repeat: no-repeat;
    transform: scale(1.02);
}

footer {
    background-color: #0f4676   ;
    color: #fff;
    text-align: center;
    padding: 1em;
    /* esto hace que te siga */
    position: fixed;
    bottom: 0;
    width: 100%;
}
.boton{
        display: inline-block;
        background: black;
        text-decoration: none;
        border-bottom: 3px solid #14B5D9;
        border-radius: 10px;
        color: white;
        padding: 10px 25px;
        font-size: 20px;
        margin-top: -10px;
        margin-left: 7%;
        transition: transform 0.3s, filter 0.3s;    
 }

/* una vez finalizada el diseño cambimaos a php */